<h1>A new comment has been submitted</h1>

<p>
A new comment has been submitted for the article <%= @comment.article.title%>
by <strong><%= @comment.commenter %></strong>.</p>

<h2>Comment</h2>
<p>
  <%= @comment.body %>
</p>
