<div class="well">
  <h3>Categories</h3>
  <ul class="nav nav-list">
    <% Category.find_each do |category| %>
      <li><%= link_to category.title, welcome_index_path(category_id: category.id) %></li>
    <% end %>                
  </ul>                
</div><!--/.well -->